$darkBlue: #0e3f62;

.bg-home{
  background-image: url(../img/home.jpg);
  background-size: cover;
}

.bg-education{
  background-image: url(../img/education.jpg);
  background-size: cover;
}

.bg-project{
  background-image: url(../img/projects.jpg);
  background-size: cover;
}

.bgText{
  width: 80%;
  margin: 2rem auto;
  padding: 20px;
  background-color: $darkBlue;
  z-index: 10;
  h1, h5, p, li{
    color: white;
  }
}

.side-section{
  background-color: white;
  text-align: center;
  height: 3rem;
}

img{
  maxheight: 100%;
  max-width: 100%;
}

footer{
  text-align: center;
  background-color: rgb(172, 58, 16);
}

footer p {
  color: white;
}

.twitter-share-button[style] { vertical-align: middle!important; }

#curve_chart{
  padding: 5rem;
  height: 800px;
}
















